﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var dynamicMap = CurrentPage.Map;           //  Dynamic convertor
    var staticTypeMap = Model.Content.GetPropertyValue<AngularGoogleMaps.Model>("map"); //  Static type convertor

    string text = staticTypeMap;

}

<h1>
    Data
</h1>
<p>
    <ul>
        <li>
            @(Model.Content.GetProperty("map").DataValue)
        </li>
    </ul>
</p>

<h1>
    Test Dynamic Property Converter
</h1>
<p>
    <ul>
        <li>
            @dynamicMap.Latitude
        </li>
        <li>
            @dynamicMap.Longitude
        </li>
        <li>
            @dynamicMap.Zoom
        </li>
        <li>
            @((dynamicMap.Icon != null) ? dynamicMap.Icon.Image.ToString() : "")
        </li>
        <li>
            @((dynamicMap.Api != null) ? dynamicMap.Api.GoogleApiKey : "")
        </li>
        <li>
            @dynamicMap.SearchTyped
        </li>
    </ul>
</p>

<h1>
    Test Static Property Converter
</h1>
<p>
    <ul>
        <li>
            @staticTypeMap.Latitude
        </li>
        <li>
            @staticTypeMap.Longitude
        </li>
        <li>
            @staticTypeMap.Zoom
        </li>
        <li>
            @((staticTypeMap.Icon != null) ? staticTypeMap.Icon.Image.ToString() : "")
        </li>
        <li>
            @((staticTypeMap.Api != null) ? staticTypeMap.Api.GoogleApiKey : "")
        </li>
        <li>
            @staticTypeMap.SearchTyped
        </li>
        <li>
            @text
        </li>
    </ul>
</p>